@tailwind base;
@tailwind components;
@tailwind utilities;



#home{
  background-image: url("https://wallpapers.com/images/hd/abstract-aurora-android-tablet-dmyrxtj1whfedfuu.jpg");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}